## Regression

In [1]:
import pandas as pd
import numpy as np
from statsmodels.tsa.arima.model import ARIMA
from matplotlib import pyplot
import matplotlib.pylab as plt
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15, 6

The dataset: https://opendata-renewables.engie.com/explore/dataset/01c55756-5cd6-4f60-9f63-2d771bb25a1a/information

In [2]:
data = pd.read_csv('data/la-haute-borne-data-2017-2020.csv',sep=';')

In [3]:
data['Date_time'] = pd.to_datetime(data['Date_time'])
data.sort_values(by=['Date_time'], inplace=True, ascending=True)

In [4]:
data.head()

,Wind_turbine_name,Date_time,Ba_avg,Ba_min,Ba_max,Ba_std,Rt_avg,Rt_min,Rt_max,Rt_std,...,Pas_max,Pas_std,Wa_c_avg,Wa_c_min,Wa_c_max,Wa_c_std,Na_c_avg,Na_c_min,Na_c_max,Na_c_std
60539,R80711,2017-01-01 00:00:00+01:00,-0.990000,-0.990000,-0.900000,0.00,12.00,12.0,12.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125374,R80790,2017-01-01 00:00:00+01:00,-1.000000,-1.000000,-0.860000,0.01,13.00,13.0,13.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115585,R80736,2017-01-01 00:00:00+01:00,0.000000,0.000000,0.000000,0.00,11.00,11.0,11.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164341,R80721,2017-01-01 00:00:00+01:00,91.529999,91.529999,91.529999,0.00,12.21,12.0,13.00,0.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66845,R80736,2017-01-01 00:10:00+01:00,-0.060000,-0.490000,0.220000,0.16,11.01,11.0,11.89,0.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# change NaN to 0
x = data['Ws_avg'].fillna(0)
x = data['Ot_avg'].fillna(0)
x = data['Rt_avg'].fillna(0)
y = data['P_avg'].fillna(0)

In [18]:
# get test and train data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state = 23)

In [19]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [20]:
# reshape to 2d
x_train = x_train.values.reshape(-1,1)
y_train = y_train.values.reshape(-1,1)
x_test = x_train.reshape(-1,1)
y_test = y_train.reshape(-1,1)

In [21]:
# fit train data
lr.fit(x_train, y_train)

LinearRegression()

In [22]:
# predict test data
y_pred = lr.predict(x_test)

In [23]:
y_pred_vert = y_pred.reshape(len(y_pred), 1)
y_pred_vert = np.round(y_pred_vert)
y_true_vert = y_test.reshape(len(y_test), 1)
y_true_vert = np.round(y_true_vert)

In [43]:
# not really good?
true_pred = np.concatenate((y_true_vert, y_pred_vert), axis = 1)
first20 = true_pred[0:20]
first20

array([[   9.,  303.],
       [1734.,  425.],
       [   0.,  288.],
       [ 442.,  332.],
       [  53.,  252.],
       [  97.,  360.],
       [ 701.,  332.],
       [ 313.,  324.],
       [ 390.,  339.],
       [  -7.,  440.],
       [ 260.,  360.],
       [ 172.,  412.],
       [ 495.,  335.],
       [1348.,  295.],
       [ 127.,  353.],
       [   0.,  295.],
       [1406.,  382.],
       [ 308.,  303.],
       [ 153.,  324.],
       [  24.,  352.]])

In [28]:
# calculate mae
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_pred)
mae

341.5424658631607

In [46]:
from sklearn.metrics import r2_score
score = r2_score(y_test, y_pred)
score

0.011834943778423868